body {
    overflow: hidden;
    min-height: 100vh;
    background-image: url('../img/index-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.con-header {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.con-header .img-coll {position: relative;}

.img-coll .img {
    height: 60%;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-coll .img1 {
    position: absolute;
    right: 0;
    background-image: url('../img/header-img1.jpg');
}

.img-coll .img2 {
    position: absolute;
    bottom: 0;
    background-image: url('../img/header-img2.jpg');
} 

.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

h1 {
    font-family: var(--font-txt);
    font-weight: 800;
    font-size: 3rem;
    color: #fff;
    width: 20ch;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.links a {
    padding: 1rem 2rem;
}