/*Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800&display=swap');

/*Variabelen*/
:root {
    --font-logo: "Roboto", sans-serif;
    --font-txt: "Fira Sans"; /*Weight: 400, 800*/

    /*--color-main: #228B22;*/
    --color-main: #768948;
}

/*CSS Reset*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*main styling*/
.wrapper {
    margin-inline: auto;
    padding: 2em;
    max-width: 1400px;
}

/*Logo styling*/
.logo {
    font-family: var(--font-logo);
    font-size: 3rem;
    color: var(--color-main);
    position: relative;
    display: inline-block;
    width: fit-content;
}

.logo::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 12px;
    right: -10px;
    background-color: var(--color-main);
}

/*Nav Styling*/
.con-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.con-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-family: var(--font-txt);
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 1.2rem;
}

.btn {
    display: block;
    width: fit-content;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--color-main);
    font-family: var(--font-txt);
    color: #fff;
    transition: all 100ms ease;
}

/*Animatie*/
.btn:hover {
    scale: 1.1;
}