@use '../abstracts/variables' as *;

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    background-color: $color-main;
    padding: 0.5rem;
    border-radius: 10px;
    a {
        color: #fff !important;
        text-decoration: none !important;
    }
}