.con-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}
.con-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: max-content;
}
.con-main form .img-upload {
  width: 500px;
  height: 500px;
  border: 2px dashed #004b23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  color: #004b23;
}
.con-main form .img-upload input {
  max-width: 100%;
}
.con-main form .fld {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.con-main form .fld p {
  color: #004b23;
  font-family: sans-serif;
}
.con-main form .fld input[type=text] {
  padding: 0.5em;
  border-color: #004b23;
}
.con-main form .upload {
  width: 500px;
}
@media (max-width: 500px) {
  .con-main form .fld {
    width: 250px;
  }
  .con-main form .img-upload {
    width: 250px;
    height: 250px;
  }
  .con-main form .button {
    width: 250px;
  }
}